<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlackJack</title>
    <link rel="stylesheet" href="../resources/css/bJack.css">
</head>
<body>
    <!-- Game UI Here -->
        <div class="game">
            <div class="game">
                <h3>Black Jack</h3>

            <div class="game-body">
                <div class="game-options">
                    <input type="button" name="start" id="btnStart" class="btn" value="Start" onclick="startblackjack()">
                    <input type="button" class="btn" value="hit me " onclick="hitMe()">
                    <input type="button" class="btn" value="stay" onclick="stay()">
                </div>

                <div class="status" id="status"></div>

                <div id="deck" class="deck">
                    <div id="deckcount">52</div>
                </div>

                <div id="players" class="players">
                </div>

                <div class="clear"></div>
            </div>

            </div>
        </div>
    <!-- Game UI Above  -->
    <script src="../resources/js/bJack.js"></script>
</body>
</html>