<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
</head>
<body>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me </title>



    <style>

        #marquee {
            margin: 20px 1px;
        }
    </style>
    <style>
        div.cities {
            background-color: rgb(87, 51, 189);
            color: white;
            margin: 20px 0 20px 0;
            padding: 20px;
        }
        
        span.note {
            font-size: 120%;
            color: red;
        }
        </style>
</head>
<body >
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1" >Welcome to my Portfolio</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                      <a class="nav-link" href="index.html"> About Me </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">
                        Projects </a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="resume.html"> Resume </a>
            </ul>
        </div>
    </nav>

     <!-- Navbar Above -->

     <div id="marquee"><marquee><h2 class=""> <b> Code is Awesome!  </b> </h2> </marquee>c </div>

     
     
 


     <div>
        <p> <div class="cities"> <center> <h3> <b><u>Journey to Full Stack Development </u></b></h3> </center> 
           <center>Very dedicated learner, problem solver and <i>innovator </i>. JavaScript was my first love of the coding languages.<br> Since I took the dive into coding, I have now worked with C, Angular, Python & Django.  I am <strong> Christine Nwachi </strong>. Here you can see some of the skills I've <br> acquired and honed along the journey. Click the button below to contact me or play a game or two on the Projects page if you're bored. Take a look around!</center> 
        </p>
        <center><div class="card" style="width: 24rem;">
            <img class="card-img-top" src="125-MYBIOPIC.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> Christine Nwachi </h5>
               <p class="card-text">My why is my famly.</p>
              <a href= "contact-me.html" class="btn btn-primary">Contact Me </a>
              </div>
            </div>
          </div> </center>
</body>
</html>