<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1" >Welcome to my Portfolio</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                      <a class="nav-link" href="index.html"> About Me </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">
                        Projects </a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="resume.html"> Resume </a>
            </ul>
        </div>
    </nav>



<div>
    <h2><center><span class="badge badge-dark"><a class="btn btn-danger"z role="button" href="https://www.develofund.com">Develofund <em> Do More with your Nonprofit</em>  </a></center> </h2>  </span>
</div>
<div>
    <h2><center><span class="badge badge-dark"><a class="btn btn-danger" role="button" href="https://cynwachi.github.io/blackjack/">Black Jack </a></center> </h2>  </span>
</div>

<div>
    <h2><center><span class="badge badge-dark"><a class="btn btn-danger" role="button"href="https://cynwachi.github.io/battleshipGame/">Battleship  </a></center> </h2>  </span>
</div>

<div>
    <h2><center><span class="badge badge-dark"><a class="btn btn-danger" role="button"href="https://github.com/momentum-morehouse/small-business-website-cynwachi">Small Business Website  </a></center> </h2>  </span>
</div>

<div>
    <h2><center><span class="badge badge-dark"><a class="btn btn-danger" role="button"href="index.html"> My Portfolio  </a></center> </h2>  </span>
</div>

<center><div class="animation"> <img src="kitty.gif" alt="Kitten typing on laptop animated gif"> 
</div> </center>


</body>
</html>