<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <span class="navbar-brand mb-0 h1" >Welcome to my Portfolio</span>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                      <a class="nav-link" href="index.html"> About Me </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="projects.html">
                        Projects </a>
                    
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="resume.html"> Resume </a>
            </ul>
        </div>
    </nav>

<div id="resume">
    <h1> CHRISTINE NWACHI</h1>
    <P> <strong>1861 Chickadee Dr, Liberty MO 64068 P: 816.986.0335 E: christinenwachi@gmail.com</strong> </P>
    <h1>SKILLS</h1>

    <h3><em>Soft</em></h3>

    <ul>
        <li>Strong Interpersonal Skills </li>
        <li>Very Organized </li>
        <li>Capable of working independently or as a part of a team</li>
        <li>Excellent Time Management </li>
        <li>Adequate Snack Bringer </li>
        <li>Motivating Leader </li>
        <li> Superb Communication Written & Verbal </li>
    </ul>

    <h3><em>Technical</em></h3>

    <ul>
        <li>Technical Reading and Writing </li>
        <li>Reporting </li>
        <li>Analyttics</li>
        <li>JavaScipt  </li>
        <li>C </li>
        <li>Django </li>
        <li>Python </li>
        <li>CSS </li>
        <li>Angular</li>
        <li>API </li>
    </ul>
  
    
    <h1>EXPERIENCE </h1>
    <P>
        2016-Current <br>
        <Strong>DRIMCORP LLC </Strong> <br>
        Founder/Managing Member <br>
        <ul>
        <li> As the founder and managing member of DRIMCORP I created innovative marketing to educate and connect with minorty nonprofit founders,<br>
        real estate investors and social media marketers using state of the art marketing techniques technical writing, customer relationship managment <br> tools and sales techniques <br></li>
        <li> I have grown the business to over 50K in sales anually while managing accounting and business compliance </li>
        <li> I have assisted in the start-up and <br>
        development of over 500 minority owned businesses including not for profits</li>
        <li> Written and received <b>over 100K</b> in foundation grants and been on a team which has received over <b>30M in federal funding </b></li>

    </P>
</ul>


    <h1>EDUCATION</h1>
    <P>
        2016 <br>
        <Strong>University of Kansas </Strong> <br>
        Master of Social Work Administration
    </P>
 
    <P>
        2020 <br>
        <Strong>SNAP IT</Strong> <br>
        Foundations of JavaScript 
    </P>
    <P>
        2020 <br>
        <Strong>Momentum at Morehouse  </Strong> <br>
        Django/Python Certificate of Completion
    </P>
</div>
    
</body>
</html>