<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<div id="resume">
    <h1> CHRISTINE NWACHI</h1>
    <P> <strong>1861 Chickadee Dr, Liberty MO 64068 P: 816.986.0335 E: christinenwachi@gmail.com</strong> </P>
    <h1>SKILLS</h1>

    <h3><em>Soft</em></h3>

    <ul>
        <li>Strong Interpersonal Skills </li>
        <li>Very Organized </li>
        <li>Capable of working independently or as a part of a team</li>
        <li>Time Management </li>
    </ul>
    <P></P>



    <h1>EXPERIENCE </h1>
    <P></P>



    <h1>EDUCATION</h1>
    <P></P>
</div>
    
</body>
</html>